@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
h1,h2,h3,h4,h5,h6 { color: #0099cc;}
body {font-family: Lato, Arial, sans-serif; color: #333;}
a.nav-link { color: #0099cc !important; text-decoration: none; }
textarea { color: #666; padding: 10px; }
button.btn.m-2.btn-sm.btn-outline-success { color: #0099cc !important; border-color: #0099cc !important }
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn.m-2.btn-sm.btn-link { margin: 5px -1px !important;}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
